<div class="super-info">
    <div class="superinfo">
      <a href="index.html">Home</a>
      <a>Contato</a>
    </div>
  </div>

  <header class="menu-bg">
    <div class="menu">
      <div class="menu-logo">
        <a href="#">WillsBlog</a>
      </div>
      <nav class="menu-nav">
        <ul>
          <li><a href="#sobre">Sobre</a></li>
          <li><a href="#competencia">Competências</a></li>
          <li><a href="#experiencia">Aprendizado</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <h1 class="introducao">Portfólio</h1>

  <section class="sobre" id="sobre">
    <div class="sobre-info">
      <div>
        <img src="https://github.com/WillianX47.png" alt="" />
      </div>
      <div>
        <h2>Sobre</h2>
        <p>
          Meu nome é Willian Souza, tenho 21 anos e de maneira resumida, amo tecnologia e tudo relacionado, desde pequeno os computadores me fascinavam pois, eu queria saber como que tudo aquilo funcionava por trás da tela, como que por exemplo um personagem de algum jogo se movia de acordo com o botão que eu pressionava no controle ou o computador reconhecia uma tecla que eu pressionava no teclado e mostrava na tela.
        </p>
        <p>
          Com isso em mente, entrei na faculdade de ciência da computação na universidade Anhembi Morumbi, lá aprendi o significado de trabalho em equipe tendo colegas que até hoje seguimos fazendo trabalho em conjunto, criação de um banco, aplicativo em Ionic e um sistema para jogos de olimpiadas são algumas das minhas experiências <br>
          Atualmente estou em paralelo com a faculdade, fazendo um bootcamp na Generation Brasil buscando ser um desenvolvedor fullstack, adquirir habilidades comportamentais e conhecimento de metodologia ágil como o Scrum.
        </p>
      </div>
    </div>
  </section>

  <section class="competencia" id="competencia">
    <h2 class="competencia-title">Competências</h2>
    <div class="competencia-container">
      <div class="competencia-item front">
        <h2>Front</h2>
        <img src="assets/img/Frontend.png" alt="" />
      </div>
      <div class="competencia-item back">
        <h2>Back</h2>
        <img src="assets/img/Back.png" alt="" />
      </div>
      <div class="competencia-item full">
        <h2>Full</h2>
        <img src="assets/img/Fullstack.webp" alt="" />
      </div>
    </div>
  </section>

  <section class="competencia-itens" id="competencia-itens">
    <div class="competencia-detalhe-container">
      <div class="competencia-detalhe detalhe-front">
        <h2>Front</h2>
        <ul>
          <li>HTML5</li>
          <li>CSS3</li>
          <li>Angular</li>
          <li>Bootstrap</li>
          <li>JavaScript</li>
          <li>TypeScript</li>
          <li>Ionic</li>
          <li>CSS</li>
        </ul>
      </div>
      <div class="competencia-detalhe detalhe-front">
        <h2>Back</h2>
        <ul>
          <li>Java</li>
          <li>Python</li>
          <li>Spring Boot</li>
          <li>C++</li>
          <li>Security</li>
          <li>API Rest</li>
        </ul>
      </div>
      <div class="competencia-detalhe detalhe-front">
        <h2>Full</h2>
        <ul>
          <li>Git</li>
          <li>Github</li>
          <li>SQL</li>
          <li>SQL Server</li>
          <li>Docker</li>
        </ul>
      </div>
    </div>
  </section>

  <h2 class="introducao">Ensino superior</h2>

  <section class="faculdade">
    <div class="faculdade-img">
      <img src="assets/img/Anh.png" alt="" />
    </div>
    <div>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit
        inventore placeat qui est dicta perspiciatis quia architecto, quas
        repellat quaerat quos tenetur assumenda fugiat eligendi non. Magni
        enim impedit dolores.
      </p>
    </div>
  </section>

  <section class="experiencia" id="experiencia">
    <div class="experiencia-item">
      <h2>Inteligente</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae
        deleniti voluptatem repellat recusandae quia nesciunt natus atque
        sapiente officia libero voluptas minus adipisci, nostrum reiciendis
        commodi illo eligendi quibusdam in!
      </p>
    </div>
    <div class="experiencia-item">
      <h2>Inteligente</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae
        deleniti voluptatem repellat recusandae quia nesciunt natus atque
        sapiente officia libero voluptas minus adipisci, nostrum reiciendis
        commodi illo eligendi quibusdam in!
      </p>
    </div>
    <div class="experiencia-item">
      <h2>Inteligente</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae
        deleniti voluptatem repellat recusandae quia nesciunt natus atque
        sapiente officia libero voluptas minus adipisci, nostrum reiciendis
        commodi illo eligendi quibusdam in!
      </p>
    </div>
    <div class="experiencia-item">
      <h2>Econômico</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae
        deleniti voluptatem repellat recusandae quia nesciunt natus atque
        sapiente officia libero voluptas minus adipisci, nostrum reiciendis
        commodi illo eligendi quibusdam in!
      </p>
    </div>
    <div class="experiencia-item">
      <h2>Compacto</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae
        deleniti voluptatem repellat recusandae quia nesciunt natus atque
        sapiente officia libero voluptas minus adipisci, nostrum reiciendis
        commodi illo eligendi quibusdam in!
      </p>
    </div>
    <div class="experiencia-item">
      <h2>Sustentável</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae
        deleniti voluptatem repellat recusandae quia nesciunt natus atque
        sapiente officia libero voluptas minus adipisci, nostrum reiciendis
        commodi illo eligendi quibusdam in!
      </p>
    </div>
  </section>

  <footer>
    <div>
      <p>WiilsBlog © Todos os direitos reservados.</p>
    </div>
  </footer>